@use "../abstracts" as *;

.switcher {
  display: flex;
  flex-wrap: wrap;
  gap: var(--bespoke-gap, #{spaceValue(space-s)});

  > * {
    flex-basis: calc((var(--min-basis, 30rem) - 100%) * 999);
    flex-grow: 1;
  }

  // Force equal spacing if >5 flex items
  > :nth-last-child(n + 5),
  > :nth-last-child(n + 5) ~ * {
    flex-basis: 100%;
  }
}
